@page "/create-task"
@model Tasker.Pages.CreateTaskModel
@{
}

<h1>New Task</h1>
<form asp-page="/CreateTask" method="post">
    <label asp-for="NewTask.Title">Title</label>
    <input type="text" asp-for="NewTask.Title" />
    <label asp-for="NewTask.Description">Description</label>
    <input type="text" asp-for="NewTask.Description" />
    <label asp-for="NewTask.Priority">Priority</label>
    <input type="text" asp-for="NewTask.Priority" />
    <input type="submit"/>
</form>
