@page
@model Tasker.Pages.IndexModel
@{
}
<h1>All Tasks</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
        </tr>
    </thead>
    @foreach (var task in Model.Tasks)
    {
        <tr>
            <td>@task.Id</td>
            <td>@task.Title</td>
            <td>@task.Description</td>
            <td>@task.Priority</td>
        </tr>
    }
</table>