@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>All Tasks</h1>

<table class="table table-striped">
    @foreach (var task in Model.Tasks)
    {
        <tr>
            <td>@task.Title</td>
            <td>@task.Description</td>
            <td>@task.PriorityLevel</td>
        </tr>
    }
</table>